<!-------------------- this div show me the course list in student main page ---------------------------->
			
 <div id="adminCourse">
		    
			    <div class="CourseDetail">
			    
 		    	<div style="float:right;">
		  			<button data-ng-click= "register(courseSelected.id)" data-ng-show="registertion" data-ng-hide="hideRegistertion">register</button>
		  		</div>
 		  		
			      <div id="general">    
			       		<div id="studentDescription">
								<h1>{{courseSelected.name}}</h1>
								<h4>By: {{courseSelected.instructor.firstname+" "+courseSelected.instructor.lastname}}</h4>
						         <h4>{{courseSelected.startdate}}</h4>
						         <div>
									<p>{{courseSelected.description}}</p>
							
							    </div>
								
						</div>
			      </div>
			      <div id="syllabus"> 
			       		<div>
							<h1>Syllabus</h1>
							<p>{{courseSelected.syllabus}}</p>
						</div>
			      </div>        
			      <div id="schedule">         
			        <div id="strudentScheduale">
							<h1>Schedule</h1>
							<p data-ng-repeat="schedule in schedules"><strong>Date : </strong>{{schedule.date}}  <strong>Start Hour : </strong>{{schedule.starthour}}  <strong>End Hour : </strong>{{schedule.endhour}}</p>
					</div>
			      </div>
			    </div>
			  </div>
			</div>
	  </div>