
	<a class="btn btn-info btn-lg addbtn" style="float: left;" data-ng-click="popUp()">
         <span class="glyphicon glyphicon-plus"></span> add 
     </a>
	<div style="display: none" id="courseTitle">
		<form>
			<a>Course Name : </a>
			<input type="text" data-ng-model="name"><br>
			<a>By : </a>		
			<select data-ng-model="instructor">
				<option value="{{instructor.id}}" data-ng-repeat="instructor in allinstructors">{{instructor.firstname}} {{instructor.lastname}}</option>
			</select>
			<button data-ng-click="createCourse()">Add</button>
		</form>
	</div>
	<div id="course_list" class="wrapper">
		 
 		<div data-ng-repeat="course in Courses | filter : test" 
		 		class="student" id="#div-{{x.id}}">
		 		
		 		<div dir="rtl" style="float: right;">
 					  <span class="glyphicon glyphicon-pencil" data-ng-click="courseEdit($index)"></span><br>
					  <span class="glyphicon glyphicon-trash" data-ng-click="remove($index)"></span>
				 </div>
			 
		 		course-{{course.name}}<br><br>
			    instructor:{{course.instructor.firstname}}&nbsp;
			    {{course.instructor.lastname}}<br>
			    
			 <button id="logBtn"  class="glyphicon glyphicon-log-in"
			 			 data-ng-click="courseInfo($index)"></button>
			
		 </div>
	
	</div>