
#general,#syllabus,#schedule,#schedule,#presentations,#message{
 	border: 2px solid black;
    border-radius: 12px;
  	margin: 10px;	
  	font-weight: 100;
  	min-height: 300px;
  	background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding-left: 50px;
}

.CourseDetail {
	width: 80%;
	margin: 0 auto;
}