
/* #courseTable{
	width: 100%;
	padding: 10px;	
}

#courseMaker{
	margin-top: 10px;
	margin-left:0px;
	width: 100%; 
	background-color: gray;
}

.col-sm-3{
	height: 100%;
	background-color: black;
	color: white;
	
} */