
		
		<!-------------------------------- login ---------------------------->
		
		    
<div class="loginPage">
    <div class="logincontent">
        <div class="loginheading">
            Course-Management System
        </div>
        <label for="txtUserName">
            Username:</label>
        <input type="text" placeholder="Username" data-ng-model="username" required/>
        <label for="txtPassword">
            Password:</label>
        <input type="password" placeholder="Password"  data-ng-model="password" required/>
        <div class="loginremember">
            <input type="checkbox" id="chbRemember" name="chbRemember" /><label class="check"
                for="chbRemember">Remember me next time</label>
            <input type="submit" value="Login" data-ng-click="login()" />
        </div>
    </div>
</div>  