
		
		<!-------------------------------- login ---------------------------->
		
	    <div id="login">
		      <h1>Login to Web App</h1>
		      
			      <form>
			        <p><input type="text" placeholder="Username" data-ng-model="username"></p>
			        <p><input type="password" placeholder="Password"  data-ng-model="password"></p>
			        <p data-ng-click="login()"><input type="button" value="Login"></p>
			      </form>
		      
		        <div class="login-help">
		    	  <p>Forgot your password? <a>Click here to reset it</a>.</p>
		    	</div>
		    </div>
