.div1{
	background-color: green;
}
.div2{
	background-color: blue;
	margin-top: 10px;
}
.div1, .div2{
	width:50%;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
}
.publish{
	float: right;
}
.div1 > tr{
	margin-bottom: 50px;
}

#coursemaker{
	display: none;
}