#layout{
	display: none;
	width: 100%;
}

#sideNav {
	display: none;
}
#header{
	width: 50%;
	position: fixed;
}

#scroller{
	width: 50%;
	position: fixed;
}

#view{
	width: 100%;
	margin-top: 100px;
}

#scroller{
	display: none;
}

#scrollerNav{
	display: none;
}
.CourseDetail{
	width: 100%;
	position: absolute;
}

