#courseManagement{
	height: 100%;
	width: 100%;
}



#layout{
	display: none;
}

#sideNav {
	display: none;
}
#navDemo{
	width: 50%;
	position: fixed;
}

#view{
	position: initial;
	float: right;
	width: 100%;
    margin-top: 3.5%;
}

#scroller{
	background-color: gray;
	position: fixed;
}
.CourseDetail{
	width: 80%;
	float: right;
}

