<!DOCTYPE html>
<html   data-ng-app="myApp">
	<head>
	<title>course management</title>

		<link rel="stylesheet" type="text/css" href="coursemanagement.css">	
		<link rel="stylesheet" type="text/css" href="login/login.css">
		<link rel="stylesheet" type="text/css" href="studentMode/studentMode.css">

		<link rel="stylesheet" type="text/css" href="adminCourseEdit/adminCourseEdit.css">
		<link rel="stylesheet" type="text/css" href="adminCourseCreate/adminCourseMaker.css">

		<link rel="stylesheet" type="text/css" href="studentCourseInfo/studentScroll.css">
		<link rel="stylesheet" type="text/css" href="adminCourseInfo/adminCourseInfo.css">
		
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
		<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>	
		
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		
		<!-- resources-->		
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
				
	     <meta name="viewport" content="width=device-width, initial-scale=1">
	     
	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
	   	    
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 	
	</head>
	<body   data-ng-controller="myCtrl">
	
		<!-- Navbar -->
<div id="courseManagement">
	<div id="title_front">
	<div class="w3-top" id="layout">
	 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
	  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);"  data-ng-click="openNav()"><i class="fa fa-bars"></i></a>
	  <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4 w3-padding-large w3-hover-blue"  title="home" data-ng-click="homeButton()"><i class="fa fa-home w3-margin-right"></i></a>
	  <a class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-blue" title="Logout"  data-ng-click="logout()"><i class="fa fa-power-off" aria-hidden="true"></i></a><br><br>
	  <div id="sideNav">
		  <i data-ng-click="myCourses()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue"> my Courses</i> 
		  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" data-ng-repeat="tag in tags" 
						data-ng-click="chooseTag($index)"
							style="display: inline-block;">{{tag.name}}</i>
	  </div>
	  
  <div id="scrollerNav">
	  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue"  data-ng-click="gotoGeneral()">General</i> 
	  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" data-ng-click="gotoSyllabus()">Syllabus</i>
	  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" data-ng-click="gotoSchedule()">Schedule</i>
	  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" data-ng-click="gotoPresentations()">Presentations</i>
	  <i class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue" data-ng-click="gotoMessage()">Message Board</i>
  </div>
	 </div>
	</div>
	
	<!-- Navbar on small screens -->
	<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
	<div id="header">
		  <a class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home w3-margin-right" data-ng-click="homeButton()"></i>HOME</a>
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="myCourses()"> my Courses</i></a>
		  <a><i class="w3-bar-item w3-button w3-padding-large" data-ng-repeat="tag in tags" 
							data-ng-click="chooseTag($index)"
								style="display: block; color: white;">{{tag.name}}</i></a>
	</div>
	<div id="scroller">
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="gotoGeneral()">General</i></a>
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="gotoSyllabus()">Syllabus</i></a>
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="gotoSchedule()">Schedule</i></a>
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="gotoPresentations()">Presentations</i></a>
		  <a class="w3-bar-item w3-button w3-padding-large"><i data-ng-click="gotoMessage()">Message Board</i></a>
	</div>

	  <a class="w3-bar-item w3-button w3-padding-large" data-ng-click="logout()" id="logout"><i class="fa fa-power-off" >Logout</i></a>
	  

	  
	</div>
	</div>
		<div id="view" data-ng-view></div>
	</div>			
			
		<script type="text/javascript" src="coursemanagement.js"></script>

		<script type="text/javascript" src="adminCourseInfo/adminCourseInfo.ctrl.js"></script>
		<script type="text/javascript" src="adminCourseInfo/adminCourseInfo.route.js"></script>
		
		<script type="text/javascript" src="Admin_Mode/adminMode.ctrl.js"></script>
		<script type="text/javascript" src="Admin_Mode/adminmode.route.js"></script>

		<script type="text/javascript" src="adminCourseEdit/adminCourseEdit.ctrl.js"></script>
		<script type="text/javascript" src="adminCourseEdit/adminCourseEdit.route.js"></script>
		
		<script type="text/javascript" src="adminCourseCreate/adminCourseMaker.ctrl.js"></script>
		<script type="text/javascript" src="adminCourseCreate/adminCourseMaker.route.js"></script>
		
		<script type="text/javascript" src="login/login.route.js"></script>
		<script type="text/javascript" src="login/login.ctrl.js"></script>
		
		<script type="text/javascript" src="studentMode/studentMode.ctrl.js"></script>
		<script type="text/javascript" src="studentMode/studentmode.route.js"></script>

		<script type="text/javascript" src="studentCourseInfo/courseinfo.ctrl.js"></script>
		<script type="text/javascript" src="studentCourseInfo/courseinfo.route.js"></script>

		<script type="text/javascript" src="appTest.js"></script>
		
	</body>
</html>