#courseManagement{
	height: 100%;
	width: 100%;
}

#layout{
	display: none;
	width: 100%;
}

#sideNav {
	display: none;
}
#navDemo{
	width: 50%;
	position: fixed;
}

#scroller{
	width: 50%;
	position: fixed;
}


#view{
	position: initial;
	width: 100%;
    margin-top: 10%;
}

#scroller{
	display: none;
}
#scrollerNav{
	display: none;
}
.CourseDetail{
	width: 100%;
	position: absolute;
}
.addbtn{
	margin-top:10%; 
}

