
.header{
	height: 50px;
	float: left;
	width: 100%;
}

.header .nav{
	width:500px;
	float: left;	
}

.header .nav ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.header .nav ul li{
	display: inline-block;
	height: 50px;
}

.wrapper {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  
}
.student {
    border: 2px solid black;
    border-radius: 12px;
	padding: 20px;
	margin: 0px;
	float: left;
	width:200px;
	min-height: 300px;
	margin: 40px 40px  0px 55px;
	background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
	
}
.student > h4{
    border-bottom: 6px solid white;
    width: 100%;
}

#logBtn{color:black; margin-left: 50px;margin-top:50px;}
