		
<!--------------------------------  student course options ---------------------------->
					
	<div id="course_list" class="wrapper">
		 
		 <div data-ng-repeat="course in studentCourses" 
		 		class="student" id="#div-{{x.id}}">
		 		
		 		course-{{course.name}}<br><br>
			    instructor:{{course.instructor.firstname}}&nbsp;
			    {{course.instructor.lastname}}<br>
			    
			 <button id="logBtn"  class="glyphicon glyphicon-log-in"
			 			 data-ng-click="courseInfo($index)"></button>
			
			 <div class="courseUpdate">
			 	 <button>delete</button>
				 <button>update</button>
			 </div>
			
		 </div>
	
	</div>