.wrapper {
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  color: white;
  width: 100%;
  float: right;
}
.student {
	padding: 20px;
	margin: 0px;
	float: left;
	width:200px;
	height: 200px;
	background: green;
	margin: 40px 40px  0px 55px;
}

#logBtn{color:black; margin-left: 50px;margin-top:50px;}

.courseUpdate{
	display: none;
}
