		
<!--------------------------------  student course options ---------------------------->
					
	<div id="course_list" class="wrapper">
		 
		 <div data-ng-repeat="course in Courses | filter : test" 
		 		class="student" id="#div-{{x.id}}">
		 		
		 		<h3>{{course.name}}</h3>
			    <h4>by:{{course.instructor.firstname}}&nbsp;
			    {{course.instructor.lastname}}</h4>
			    
			 <button id="logBtn"  class="glyphicon glyphicon-log-in"
			 			 data-ng-click="courseInfo($index)"></button>
		 </div>
	
	</div>